@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@350&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  /*text-align: center;*/
  text-transform: uppercase;
  height: 100vh;
  background: linear-gradient(135deg, #e62b44e8, #511f6ef5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Layouts*/
main {
  position: relative;
  display: flex;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.4);
  border-radius: 9px;
  overflow: hidden;
}

.player {
  display: flex;
  flex: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}

.player-active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player-active .player-name {
  font-weight: 600;
}

/* Player*/
.player-name {
  font-size: 4rem;
}

.player-score {
  font-size: 8rem;
  color: rgb(207, 45, 107);
  /* position: absolute;
  top: 30%; */
  margin-top: -70px;
}

.current {
  background-color: rgb(207, 45, 107);
  width: 40%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0 1.5rem;
  border-radius: 10px;
  margin-top: 50px;
}

.current-label {
  font-size: 1.8rem;
  color: #d7d7d7;
}

.current-score {
  font-size: 3rem;
  color: #fff;
}

/* Game Buttons */
.btn {
  font-size: 2rem;
  font-family: inherit;
  text-transform: inherit;
  background-color: rgba(225, 255, 255, 0.7);
  border: none;
  padding: 5px 25px 10px;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.btn-new {
  top: 40px;
}

.btn-roll {
  bottom: 160px;
}

.btn-hold {
  bottom: 90px;
}

.smiley {
  font-size: 2.5rem;
  margin-right: 10px;
}

/* Active Buttons */
.btn:active {
  box-shadow: 0 10px 5px rgba(95, 88, 88, 0.1);
  transition: 0.5s all;
}

.btn-new:active {
  top: 45px;
}

.btn-roll:active {
  bottom: 155px;
}

.btn-hold:active {
  bottom: 85px;
}

/*Dice Image*/
.dice {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.1);
}

/* Hide element */
.hidden {
  display: none;
  color: #f0d6e4;
}
