@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@350&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  /*text-align: center;*/
  text-transform: uppercase;
  height: 100vh;
  background: linear-gradient(135deg, #e62b44e8, #511f6ef5);
}

/*Layouts*/
.dashboard {
  display: flex;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.3);
}

.player1,
.player2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 600px;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}

.player1 {
  background-color: rgba(240, 214, 228, 0.884);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.player2 {
  background-color: rgb(194, 136, 166);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Main */
.player-header {
  font-size: 4rem;
}

.player1 .player-header {
  font-weight: bold;
}

.smiley {
  font-size: 2.5rem;
  margin-right: 10px;
  display: inline-block;
}

.player-score {
  font-size: 8rem;
  color: rgb(207, 45, 107);
  margin-top: -70px;
}

.current {
  background-color: rgb(207, 45, 107);
  width: 40%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0 15px;
  border-radius: 10px;
  margin-top: 50px;
}

.current-header {
  font-size: 1.8rem;
  color: #d7d7d7;
}

.current-score {
  font-size: 3rem;
  color: #fff;
}

/* Game Buttons */
button {
  font-size: 1.8rem;
  font-family: inherit;
  text-transform: inherit;
  background-color: rgba(225, 255, 255, 0.7);
  border: none;
  padding: 5px 25px 10px;
  border: none;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.new-game {
  top: 45px;
}

.roll-dice {
  bottom: 160px;
}

.hold {
  bottom: 90px;
}

/* Active Buttons */
.button:active {
  box-shadow: 0 10px 5px rgba(95, 88, 88, 0.1);
  transition: 0.5s all;
}

.new-game:active {
  top: 50px;
}

.roll-dice:active {
  bottom: 150px;
}

.hold:active {
  bottom: 80px;
}

/*Dice Image*/
.dice {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.1);
}
